DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=sentinelwatch

RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_TELEMETRY_QUEUE=telemetry_queue
RABBITMQ_TELEMETRY_ALERT_QUEUE=telemetry_alert_queue
